body
  font-family: 'Open Sans', sans-serif
  background: #374140

  div.container
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0

    div.box
      position:absolute
      left: 0
      bottom: 50%
      top: 0
      right: 0
      background: red

    div.coordinates
      text-align: center
      font-size: 10rem
      position: absolute
      color: white
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

      div.viewport
        font-size: 6.5rem
